<%= form_with(model: product, local: true) do |form| %>
  <% if product.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(product.errors.count, "error") %> prohibited this product from being saved:</h2>

      <ul>
        <% product.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :code %>
    <%= form.text_field :code %>
  </div>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label  :categories %>
    <%  @categories.each do |category| %>
      <span><%= check_box_tag :categories_ids, category.id, @product.categories.include?(category), :name => 'product[category_ids][]' %>
      <%= label_tag :category_ids, category.name %>
      </span>
    <% end %>
  </div>

  <div class="field">
    <%= form.label :nib_size %>
    <%= form.text_field :nib_size %>
  </div>

  <div class="field">
    <%= form.label :features %>
    <%= form.text_area :features %>
  </div>

  <div class="field">
    <%= form.label  :colors %>
    <%  @colors.each do |color| %>
      <span><%= check_box_tag :color_ids, color.id, @product.colors.include?(color), :name => 'product[color_ids][]' %>
      <%= label_tag :color_ids, color.name %>
      </span>
    <% end %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
