<p id="notice"><%= notice %></p>

<p>
  <strong>Code:</strong>
  <%= @product.code %>
</p>

<p>
  <strong>Image:</strong>
  <br>
  <%= image_tag @product.items.first.image, id: "product-image" %>
</p>

<p>
  <strong>Name:</strong>
  <%= @product.name %>
</p>

<p>
  <strong>Categories:</strong>
  <% @product.categories.each do |category|  %>
    <%= category.name %>
  <% end %>
</p>

<p>
  <strong>Nib size:</strong>
  <%= @product.nib_size %>
</p>

<p>
  <strong>Features:</strong>
  <%= @product.features %>
</p>

<p>
  <strong id="my-id">Colours:</strong>
  <span class='product-colors'>
  <% @product.colors.each do |color|  %>
    <span id='<%= @product.code + "-" + color.code.upcase %>' class='product-color'> <%= color.name%></span>
  <% end %>
  </span>  
</p>


<%= link_to 'Edit', edit_product_path(@product) %> |
<%= link_to 'Back', products_path %>
